# Server Environment Variables
NODE_ENV=development
PORT=5000

# MongoDB Atlas
MONGODB_URI=mongodb+srv://aditya:Aditya12345@cluster0.u14jx0d.mongodb.net/na-ai-systems?retryWrites=true&w=majority&appName=Cluster0


# JWT
JWT_SECRET=e57885dd394727de1f17c3a88b7b09c2505d35e47b882aee5e26a25a40a6ffce

# Client URL (CORS)
CLIENT_URL=https://na-ai-gules.vercel.app

# OpenAI
OPENAI_API_KEY=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

# Cloudinary
CLOUDINARY_CLOUD_NAME=dys68lg2c
CLOUDINARY_API_KEY=395851165571173
CLOUDINARY_API_SECRET=lV8YsWYz8NV_vzgQ7B_fgVXnZoo

# Logging
LOG_LEVEL=info
